@import '~element-ui/packages/theme-chalk/src/common/var';
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* $--color-primary: #39babf;*/
$--color-primary: #39babf;
$--color-success: #39babf;
$--color-text-primary: #0d1114;

/* Input
-------------------------- */
$--input-border-radius: 0;

/* Button
-------------------------- */
$--button-font-size: 13px;
$--button-border-radius: 0;
$--button-padding-horizontal: 14px;
$--button-primary-background-color: $--color-primary;
$--button-primary-border-color: $--color-primary;
$--button-medium-border-radius: 0;
$--button-small-border-radius: 0;
$--button-mini-border-radius: 0;

/* Form
-------------------------- */
$--form-label-font-size: 13px;




