html,
body,
#app  {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-font-base);
  background: var(--color-theme-2);
  line-height: 1.1;
  overflow: hidden;
  min-width: 320px;
}

/* layout */
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

#main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: var(--height-module) 1fr;
    grid-template-rows: var(--height-module) 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    overflow: hidden;
    min-width: 400px;
}

/* grid */

/* link */
.link {
    display: block;
    color: #2f9ba0;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}


